#content-section {
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 8px;
    flex-direction: column;
    justify-items: center;
}

.timeline-post {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:ghostwhite;
    width: 580px;
    padding: 10px;
    border-radius: 10px;
    
}

.post-top-info {
    display: flex;
    /* width: 100%; */
}
.profile-name {
    font-weight: bold;
}

.profile-description{
    font-weight: lighter;
}
.post-time{
    font-weight: lighter;
}

.user-photo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

.react-buttons-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 20px;
    width: 100%;
}

.react-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90px;
    padding: 10px;
    border-radius: 7px;
}

.react-button:hover {
    background-color: rgb(233, 228, 228);
    cursor: pointer;
    transition: .5s;
}

.content-icon {
    height: 25px;
    margin-right: 5px;
}