#profile-section{
    grid-row-start: 1;
    grid-row-end: 5;
    width: 100%;
    height: 300px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#profile-section-photo {
    height: 80px;
    width: 80px;
}

.user-description, .profile-views, .profile-impressions {
    font-weight: lighter;
}