#submit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 10px;
    padding-left:40px;
    padding-right: 60px;
    padding-bottom: 5px;
}

.submit-subsection {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

#submit-bar-top {
    margin-bottom: 10px;
}

#submit-input {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border-style: solid;
    background-color:ghostwhite;
}
.submit-bar-icon {
    height: 30px;
    margin-right: 10px;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90px;
    padding: 10px;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: rgb(233, 228, 228);
    cursor: pointer;
    transition: .5s;
}